.background {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 600px;
  background-image: url("/img/bg_signup.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
